<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginpage"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginPage"
        tools:replace="android:label">
        <activity
            android:name=".UploadImagesActivity"
            android:exported="true" />
        <activity
            android:name=".MonthlyAnalytics"
            android:exported="true" />
        <activity
            android:name=".WeeklyAnalytics"
            android:exported="true" />
        <activity
            android:name=".TodayAnalytics"
            android:exported="true" />
        <activity
            android:name=".ThisMonth"
            android:exported="true" />
        <activity
            android:name=".ThisWeek"
            android:exported="true" />
        <activity
            android:name=".ChooseAnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".ListExpenseActivity"
            android:exported="true" />
        <activity
            android:name=".RecycleActivity"
            android:exported="true" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".OnBoarding"
            android:exported="true" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="true" />
        <activity
            android:name=".AddExpenseActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".LimitActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>